body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: #0f172a;
  color: white;
}

.dashboard {
  padding: 20px;
}

.header {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
}

.container {
  display: flex;
  gap: 20px;
}

.left-panel {
  flex: 2;
  background: #1e293b;
  padding: 15px;
  border-radius: 10px;
}

.right-panel {
  flex: 1;
  background: #1e293b;
  padding: 15px;
  border-radius: 10px;
}

.video-box {
  background: black;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  position: relative;
}

.alert-tag {
  position: absolute;
  top: 10px;
  left: 10px;
  background: red;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
}

.alert-box {
  margin-top: 15px;
  padding: 10px;
  border-radius: 8px;
  background: #334155;
}

.danger {
  background: #7f1d1d;
}

.button {
  margin-top: 15px;
  padding: 10px;
  background: #2563eb;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.button:hover {
  background: #1d4ed8;
}

.log-item {
  font-size: 14px;
  margin-bottom: 8px;
}
